.card-body img {
    object-fit: contain;
    width: 100%;
    height: 250px;
}
.pagination.justify-content-center.d-flex {
    gap: 20px;
    cursor: pointer;
}

.pagination.justify-content-center.d-flex span {
    padding: 20px 10px;
}